<form #clientesFrm="ngForm" (ngSubmit)="salvar()">
  <mat-card class="mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>
        <mat-icon style="vertical-align: middle; margin-right: 8px"
          >person_add</mat-icon
        >
        {{
          atualizando ? "Editar Dados do Cliente" : "Novo Cadastro de Cliente"
        }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="mt-20">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Nome Completo</mat-label>
          <input
            type="text"
            [(ngModel)]="cliente.nome"
            name="nome"
            matInput
            required
            placeholder="Ex: João da Silva"
          />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Email</mat-label>
          <input
            type="email"
            [(ngModel)]="cliente.email"
            name="email"
            matInput
            required
            placeholder="nome@email.com"
          />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>CPF</mat-label>
          <input
            type="text"
            [(ngModel)]="cliente.cpf"
            name="cpf"
            mask="000.000.000-00"
            matInput
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Data de Nascimento</mat-label>
          <input
            type="text"
            [(ngModel)]="cliente.dataNascimento"
            name="dataNascimento"
            mask="00/00/0000"
            matInput
            required
            placeholder="DD/MM/AAAA"
          />
          <mat-icon matSuffix>calendar_today</mat-icon>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
        <mat-form-field appearance="outline" fxFlex="30">
          <mat-label>UF</mat-label>
          <mat-select
            [(value)]="cliente.uf"
            (selectionChange)="carregarMunicipios($event)"
            required
          >
            <mat-option *ngFor="let uf of estados" [value]="uf.sigla">
              {{ uf.sigla }} - {{ uf.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="70">
          <mat-label>Município</mat-label>
          <mat-select
            [(value)]="cliente.municipio"
            required
            [disabled]="!cliente.uf"
          >
            <mat-option *ngFor="let m of municipios" [value]="m.nome">
              {{ m.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button type="button" mat-stroked-button color="warn" class="mr-2">
        <mat-icon>backspace</mat-icon> Limpar
      </button>

      @if (!atualizando) {
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!clientesFrm.valid"
      >
        <mat-icon>save</mat-icon> Salvar Cliente
      </button>
      } @else {
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!clientesFrm.valid"
      >
        <mat-icon>update</mat-icon> Atualizar Dados
      </button>
      }
    </mat-card-actions>
  </mat-card>
</form>
