<div fxLayout="column">
  
  <form #buscaForm="ngForm" (ngSubmit)="pesquisar()">
    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>
          <mat-icon style="vertical-align: middle; margin-right: 8px;">filter_alt</mat-icon>
          Filtros de Pesquisa
        </mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Buscar por Nome</mat-label>
            <input matInput name="nomeBusca" [(ngModel)]="nomeBusca" placeholder="Digite o nome do cliente...">
            <button mat-icon-button matSuffix type="submit" [disabled]="!nomeBusca">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </form>

  <mat-card class="mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>Resultados</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <table mat-table [dataSource]="listaClientes" class="full-width">
        
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let cliente"> {{ cliente.id }} </td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let cliente"> 
            <strong>{{ cliente.nome | titlecase }}</strong> 
          </td>
        </ng-container>

        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef> CPF </th>
          <td mat-cell *matCellDef="let cliente"> {{ cliente.cpf }} </td>
        </ng-container>

        <ng-container matColumnDef="dataNascimento">
          <th mat-header-cell *matHeaderCellDef> Nascimento </th>
          <td mat-cell *matCellDef="let cliente"> {{ cliente.dataNascimento }} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let cliente"> {{ cliente.email }} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Ações </th>
          <td mat-cell *matCellDef="let cliente" class="text-center">
            
            <button mat-icon-button color="primary" (click)="preparaEditar(cliente.id)" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>

            @if (!cliente.deletando) {
              <button mat-icon-button color="warn" (click)="preparaDeletar(cliente)" matTooltip="Excluir">
                <mat-icon>delete</mat-icon>
              </button>
            } @else {
              <button mat-stroked-button color="warn" (click)="deletar(cliente)" class="btn-confirmar">
                Confirmar?
              </button>
            }
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasTable"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasTable"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6" style="text-align: center; padding: 2rem;">
            <mat-icon style="font-size: 40px; color: gray;">sentiment_dissatisfied</mat-icon>
            <p>Nenhum registro encontrado</p>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>